/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer{
position: absolute;
bottom: 0;
width: 100%;
height: 30px;
background-color: #540375;
text-align: center;
color: white;
}
html body{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v960-ning-30.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=63dd5f402645ef52fb7dfb592aec765a);
}